@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      270deg,
      rgba(2, 13, 25, 0) 16.33%,
      rgba(2, 13, 25, 0.8) 100%
    ),
    linear-gradient(360deg, rgba(2, 13, 25, 0) 87.52%, #020d19 101.14%);
  z-index: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Your custom styles below */
